@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body{
    margin: 0px;
}
.header, .footer {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    font-family: 'Lora', Georgia, Times, serif;
    color: rgba(58, 58, 58, 0.9);
    justify-content: space-between;
}
.header > div {
    display: flex;
    align-items: center;
}
.footer {
    justify-content: space-between;
    margin: 20px;
}
.header > div > p {
    width: 100%;
}
.header > div > p {
    font-weight: bold;
    font-size: 1.8rem;
}
.header-menu {
    display: flex;
}
.header-menu > a{
    margin:0px 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: rgba(58, 58, 58, 0.9);
    margin-bottom: 3px;
}

.header-menu > a:hover{
    border-bottom: 3px solid gray;
}

.content {
    min-height: 600px;
    background: url('./img/img-1.jpg'); 
    background-position: 50% 50%;
    background-size: cover;
}

.content > div {
    position:absolute;
}

.content::before{
    position: absolute;
    content: "";
    width: 100%;
    min-height: 600px;
    z-index: 0;
    background-color: rgba(0, 23, 33, 0.7);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > div {
    text-align: center;
    margin: auto;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content > div > *{
    color: white;
}

.content-1 > div > p:nth-child(1){
    font-weight: bold;
    font-size: 30px;
}

.content-1-button {
    display: flex;
    justify-content: center;
}

.content-1-button > a > button:nth-child(1){
    background: #3e7d98;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    margin: 10px;
    font-size: 16px;
}

.content-1-button > a:nth-child(2) > button{
    background: none;
    border: 3px solid white;
    color: white;
    padding: 12px 37px;
    border-radius: 30px;
    font-weight: bold;
    margin: 10px;
    font-size: 16px;
}

.content-2 {
    background: url('./img/img-2.jpg'); 
    background-position: 50% 50%;
    background-size: cover;
}

.content-donasi {
    background: url('./img/img-4.jpg'); 
    background-position: 50% 50%;
    background-size: cover;
}

.content-tentang {
    background: url('./img/img-5.jpg'); 
    background-position: 50% 50%;
    background-size: cover;
}

.content-2 > div {
    width: 95%;
}

.content-2 > div > div {
    display: flex;
    text-align: left;
}

.content-2 > div > div > div {
    margin: 25px;
}

.content-2 > div > div > div > p:nth-child(1){
    font-weight: bold;
}

.content-2 > div > div > div > p:nth-child(2){
    line-height: 1.35;
}

.content-3 {
    background: url('./img/img-3.jpg'); 
    background-position: 50% 50%;
    background-size: cover;
}
.murabis {
    display: flex;
    overflow: auto;
    justify-content: center;
}

.murabi {
    margin: 20px;
    width: 150px;
    flex-shrink: 0;
}

.murabi > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

.content-3 > div {
    width: 90%;
}

@media only screen and (max-width: 800px) {
    .header > div > p {
        font-size: 1.3rem;
        width: 195px;
    }
    .copyright {
        text-align: center;
    }
    .header-menu a{
        flex-shrink: 0;
    }
    .header-menu{
        margin-bottom: 20px;
        overflow: auto;
        max-width: 100%;
    }
    .header > p:nth-child(1) {
        text-align: center;
    }
    .header, .footer{
        flex-direction: column;
    }
    .content-2 > div > div {
        display: block;
    }
    .content-2::before, .content-2{
        height: 950px;
    }
    .content-2 > div > div > div {
        margin: 25px 5px;
    }
    .content-1 > div, .content-donasi > div, .content-tentang > div {
        width: 85%;
    }
    .murabi{
        margin: 0;
    }
}




